.footer {
    background-color: #0a549e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h4 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
}

.footer-column p, .footer-column ul, .footer-column a {
    color: #e3e6e7;
    text-decoration: none;
    font-size: 13px;
}
.imgp {
    width: 70px;

}
.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    color: #bdc3c7;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f39c12;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}
