*{
    font-family: 'Roboto', sans-serif;;
}

.mainly {
    width: 100%;
    height: 100%;
    display: flex;
   
    
}

.leftside {
    width: 75%;
    height: 100%;
    padding: 0;
    color: rgb(243, 236, 236);
   
    
    .imgpng {
        width: 100px;

    }
 
  
    img {
        width: 100%;
        height: auto;
        
    }
  

    .img {
        width: 100%;
        height: auto;
        padding: 10px;
        background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url('src/assets/pexels-emily-ranquist-1205651.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 8px 0 rgba(55, 43, 226, 0.199), 0 5px 20px 0 rgba(60, 62, 221, 0.19);
    }
}

.rightside {
    width: 25%;
    height: 100%;
   justify-content: center;
   align-items: center;
   margin-left: 25px;
 
.calcontrol{
  box-shadow: 0 2px 5px 0 rgba(83, 75, 202, 0.199), 0 4px 15px 0 rgba(71, 73, 196, 0.19);
}
.stetus{
    width: 100%;
    height: auto;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 rgba(83, 75, 202, 0.199), 0 4px 15px 0 rgba(71, 73, 196, 0.19);
    padding: 15px;

    }
    
    .ste{
        margin-top: 16px;
        font-size: 15px;
        color: rgb(53, 52, 52);
    }
}
 
.Corce{
    width: 100%;
    height: auto;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 rgba(83, 75, 202, 0.199), 0 4px 15px 0 rgba(71, 73, 196, 0.19);
    padding: 15px;

    h6{
        font-size: 14px;
        color: #0D82FE;
        
    }
    h6:hover{
        cursor: pointer;
        color: black;
    }
   h4{
    font-size: 18px;
    font-weight: bold;
    }
 
}
.sem{
    width: 100%;
    height: auto;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 rgba(83, 75, 202, 0.199), 0 4px 15px 0 rgba(71, 73, 196, 0.19);
   
    li{
        text-decoration: none;
        list-style: none;
        color:  #0D82FE;
        margin-top: 10px;
    }
}
.footer{
    width: 100%;
    height: auto;
    padding: 10px;

}