

.main {
    display: flex;
    width: 100%;
    height: 100%;

}
.hideimg{
    display: none;
}
.img {
    margin: 100px 10px 50px 40px;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
 

    img {
        width: 100%;
       position: sticky;
        height: 100%;
    }
}

.Form {
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

form {

    width: 60%;
    height: auto;
    margin: 120px;
}

form .btn {
    margin-top: 10px;
    background-color: #6C63FF;

}

form .btn:hover {
    background-color: #26235e;
    color: white;
}

@media (min-width: 1080px) and (max-width: 1400px) {
    .img {
        margin: 100px 10px 50px 40px;
        width: 50%;


        img {
            width: 100%;
            position: static;
            height: 100%;
        }
        .hideimg{
            display: block;
        }
        .openimg{
            display: none;
        }
    }

    .Form {
        width: 50%;
        height: 100%;

        form {

            width: 80%;
            margin: 40px;
        }
    }
}
@media (min-width: 800px) and (max-width: 1080px){

    .img{
        width: 100%;
        .hideimg{
            display: block;
        }
        .openimg{
            display: none;
        }
      
    }
   .img img {
        width: 60%;
        position: static;
        height: 100%;
    }
    .Form{
        width: 100%;
        form {

            width: 100%;
            margin: 0;
        }
    }
}
@media (min-width: 300px) and (max-width: 800px) {

    .main {
        flex-wrap: wrap;
    }
    .img{
        width: 100%;
        .hideimg{
            display: block;
        }
        .openimg{
            display: none;
        }
    }
    .Form{
        width: 100%;
        form {

            width: 100%;
            margin: 0;
        }
    }
}